In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import xgboost as xgb
import seaborn as sb
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVR
from sklearn.metrics import confusion_matrix
from sklearn.neighbors import KNeighborsRegressor

from sklearn.preprocessing import StandardScaler, PowerTransformer, QuantileTransformer, MinMaxScaler, MaxAbsScaler, RobustScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [5]:
os.chdir('/content/drive/My Drive/Bootcamp ML2020/')
os.listdir('.')
dataset = pd.read_csv('bottle.csv')
dataset.head(100)

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (47,73) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

    Cst_Cnt  Btl_Cnt       Sta_ID  ... pH2  pH1  DIC Quality Comment
0         1        1  054.0 056.0  ... NaN  NaN                  NaN
1         1        2  054.0 056.0  ... NaN  NaN                  NaN
2         1        3  054.0 056.0  ... NaN  NaN                  NaN
3         1        4  054.0 056.0  ... NaN  NaN                  NaN
4         1        5  054.0 056.0  ... NaN  NaN                  NaN
..      ...      ...          ...  ...  ..  ...                  ...
95        4       96  050.0 095.0  ... NaN  NaN                  NaN
96        4       97  050.0 095.0  ... NaN  NaN                  NaN
97        4       98  050.0 095.0  ... NaN  NaN                  NaN
98        4       99  050.0 095.0  ... NaN  NaN                  NaN
99        4      100  050.0 095.0  ... NaN  NaN                  NaN

[100 rows x 74 columns]

In [3]:
dataset.describe()

             Cst_Cnt        Btl_Cnt  ...        pH2        pH1
count  864863.000000  864863.000000  ...  10.000000  84.000000
mean    17138.790958  432432.000000  ...   7.948570   7.910983
std     10240.949817  249664.587267  ...   0.021216   0.077666
min         1.000000       1.000000  ...   7.923100   7.618300
25%      8269.000000  216216.500000  ...   7.931475   7.898675
50%     16848.000000  432432.000000  ...   7.946650   7.928850
75%     26557.000000  648647.500000  ...   7.963300   7.955100
max     34404.000000  864863.000000  ...   7.988300   8.047700

[8 rows x 70 columns]

In [8]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 864863 entries, 0 to 864862
Data columns (total 74 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Cst_Cnt              864863 non-null  int64
 1   Btl_Cnt              864863 non-null  int64
 2   Sta_ID               864863 non-null  object
 3   Depth_ID             864863 non-null  object
 4   Depthm               864863 non-null  int64
 5   T_degC               853900 non-null  float64
 6   Salnty               817509 non-null  float64
 7   O2ml_L               696201 non-null  float64
 8   STheta               812174 non-null  float64
 9   O2Sat                661274 non-null  float64
 10  Oxy_Âµmol/Kg          661268 non-null  float64
 11  BtlNum               118667 non-null  float64
 12  RecInd               864863 non-null  int64
 13  T_prec               853900 non-null  float64
 14  T_qual               23127 non-null   float64
 15  S_prec               817509 non-null  float64
 16  S_qual               74914 non-null   float64
 17  P_qual               673755 non-null  float64
 18  O_qual               184676 non-null  float64
 19  SThtaq               65823 non-null   float64
 20  O2Satq               217797 non-null  float64
 21  ChlorA               225272 non-null  float64
 22  Chlqua               639166 non-null  float64
 23  Phaeop               225271 non-null  float64
 24  Phaqua               639170 non-null  float64
 25  PO4uM                413317 non-null  float64
 26  PO4q                 451786 non-null  float64
 27  SiO3uM               354091 non-null  float64
 28  SiO3qu               510866 non-null  float64
 29  NO2uM                337576 non-null  float64
 30  NO2q                 529474 non-null  float64
 31  NO3uM                337403 non-null  float64
 32  NO3q                 529933 non-null  float64
 33  NH3uM                64962 non-null   float64
 34  NH3q                 808299 non-null  float64
 35  C14As1               14432 non-null   float64
 36  C14A1p               12760 non-null   float64
 37  C14A1q               848605 non-null  float64
 38  C14As2               14414 non-null   float64
 39  C14A2p               12742 non-null   float64
 40  C14A2q               848623 non-null  float64
 41  DarkAs               22649 non-null   float64
 42  DarkAp               20457 non-null   float64
 43  DarkAq               840440 non-null  float64
 44  MeanAs               22650 non-null   float64
 45  MeanAp               20457 non-null   float64
 46  MeanAq               840439 non-null  float64
 47  IncTim               14437 non-null   object
 48  LightP               18651 non-null   float64
 49  R_Depth              864863 non-null  float64
 50  R_TEMP               853900 non-null  float64
 51  R_POTEMP             818816 non-null  float64
 52  R_SALINITY           817509 non-null  float64
 53  R_SIGMA              812007 non-null  float64
 54  R_SVA                812092 non-null  float64
 55  R_DYNHT              818206 non-null  float64
 56  R_O2                 696201 non-null  float64
 57  R_O2Sat              666448 non-null  float64
 58  R_SIO3               354099 non-null  float64
 59  R_PO4                413325 non-null  float64
 60  R_NO3                337411 non-null  float64
 61  R_NO2                337584 non-null  float64
 62  R_NH4                64982 non-null   float64
 63  R_CHLA               225276 non-null  float64
 64  R_PHAEO              225275 non-null  float64
 65  R_PRES               864863 non-null  int64
 66  R_SAMP               122006 non-null  float64
 67  DIC1                 1999 non-null    float64
 68  DIC2                 224 non-null     float64
 69  TA1                  2084 non-null    float64
 70  TA2                  234 non-null     float64
 71  pH2                  10 non-null      float64
 72  pH1                  84 non-null      float64
 73  DIC Quality Comment  55 non-null      object
dtypes: float64(65), int64(5), object(4)
memory usage: 488.3+ MB

In [9]:
dataset.describe(include=['O'])

             Sta_ID  ...                                DIC Quality Comment
count        864863  ...                                                 55
unique         2634  ...                                                 37
top     090.0 045.0  ...  CTD Bottle Misfire; DIC sample compromised.  C...
freq          10043  ...                                                  9

[4 rows x 4 columns]

In [10]:
nulls = dataset.isnull().sum().sort_values(ascending = False)
prcet = round(nulls/len(dataset)*100,2)

dataset_null = pd.DataFrame(columns =  ['Attr','Total','Percent'])
dataset_null.Attr  = nulls.index
dataset_null.Total = nulls.values
dataset_null.Percent = prcet.values
print(dataset_null.head(20))

                   Attr   Total  Percent
0                   pH2  864853   100.00
1   DIC Quality Comment  864808    99.99
2                   pH1  864779    99.99
3                  DIC2  864639    99.97
4                   TA2  864629    99.97
5                  DIC1  862864    99.77
6                   TA1  862779    99.76
7                C14A2p  852121    98.53
8                C14A1p  852103    98.52
9                C14As2  850449    98.33
10               C14As1  850431    98.33
11               IncTim  850426    98.33
12               LightP  846212    97.84
13               DarkAp  844406    97.63
14               MeanAp  844406    97.63
15               DarkAs  842214    97.38
16               MeanAs  842213    97.38
17               T_qual  841736    97.33
18                NH3uM  799901    92.49
19                R_NH4  799881    92.49

In [11]:
for i in dataset_null.Attr[dataset_null['Percent'] > 30]:
    dataset = dataset.drop([i], axis=1)
    #print(dataset.shape,i)

In [12]:
for i in dataset.columns:
    if dataset[i].isnull().sum() > 0:
        dataset[i].fillna(dataset[i].mode().mean(), inplace=True)

In [13]:
nulls = dataset.isnull().sum().sort_values(ascending = False)
prcet = round(nulls/len(dataset)*100,2)

dataset_null = pd.DataFrame(columns =  ['Attr','Total','Percent'])
dataset_null.Attr  = nulls.index
dataset_null.Total = nulls.values
dataset_null.Percent = prcet.values
print(dataset_null.head())

       Attr  Total  Percent
0    R_PRES      0      0.0
1   R_O2Sat      0      0.0
2   Btl_Cnt      0      0.0
3    Sta_ID      0      0.0
4  Depth_ID      0      0.0

In [14]:
dataset['Year'] = (dataset['Depth_ID'].str.split('-', expand=True)[0] + \
                dataset['Depth_ID'].str.split('-', expand=True)[1]). \
                map(lambda x: str(x)[:4])
dataset['Month'] = (dataset['Depth_ID'].str.split('-', expand=True)[1]). \
                 map(lambda x: str(x)[2:4])
                 
dataset[['Depth_ID','Year','Month']].head(10)

                                 Depth_ID  Year Month
0  19-4903CR-HY-060-0930-05400560-0000A-3  1949    03
1  19-4903CR-HY-060-0930-05400560-0008A-3  1949    03
2  19-4903CR-HY-060-0930-05400560-0010A-7  1949    03
3  19-4903CR-HY-060-0930-05400560-0019A-3  1949    03
4  19-4903CR-HY-060-0930-05400560-0020A-7  1949    03
5  19-4903CR-HY-060-0930-05400560-0030A-7  1949    03
6  19-4903CR-HY-060-0930-05400560-0039A-3  1949    03
7  19-4903CR-HY-060-0930-05400560-0050A-7  1949    03
8  19-4903CR-HY-060-0930-05400560-0058A-3  1949    03
9  19-4903CR-HY-060-0930-05400560-0075A-7  1949    03

In [15]:
drop_cols = ['Cst_Cnt', 'Btl_Cnt', 'Sta_ID', 'Depth_ID', 'Depthm','Year','Month']
dataset_norm = dataset.drop(drop_cols, axis=1)  #  data for normalization
dataset_scale = dataset_norm.copy(deep=True)  #  backup data

In [16]:
Y = dataset_norm['T_degC'] #label
x = dataset_norm.drop(['T_degC'], axis=1) #features

**Soal Nomor 1**

In [17]:
def acc_scaler(arr_name, arr_scl):
  # scaler = arr_scl
  X = arr_scl.fit_transform(x) #x=features
  data_x = pd.DataFrame(X, columns=x.columns) #pengganti features di materi

  x_train, x_test, y_train, y_test = train_test_split(data_x, Y, test_size=0.25, random_state=10)

  lm = LinearRegression()
  lm.fit(x_train, y_train)
  y_pred = lm.predict(x_test)
  mse = mean_squared_error(y_test, y_pred)
  mae = mean_absolute_error(y_test, y_pred)
  r2 = r2_score(y_test, y_pred)
  print(arr_name)
  print()
  print('Accuracy of ',arr_name,' on train set : {:.2f}'.format(lm.score(x_train, y_train))) # .score() -> Accuracy
  print('Accuracy of ',arr_name,' on test set  : {:.2f}'.format(lm.score(x_test, y_test))) # .score() -> Accuracy
  print()
  print("MSE (Mean Squared Error)                   :", mse)
  print("MAE (Mean Absolute Error)                  :", mae)
  print("r^2 score                                  :", r2)
  print('RMSE (Root Mean Squared Error)             :', np.sqrt(mean_squared_error(y_test, y_pred)))
  print('====================================================================')

arr_scl=[StandardScaler(),PowerTransformer(method='yeo-johnson', standardize=True),QuantileTransformer(),MinMaxScaler(),MaxAbsScaler(),RobustScaler()]
arr_name=['Standar Scaler','Power Transformer Yeo Johnson','Quantile Transformer','Min Max Scaler','Max Abs Scaler','Robust Scaler']

for a in range(len(arr_scl)):
  acc_scaler(arr_name[a], arr_scl[a])

Standar Scaler

Accuracy of  Standar Scaler  on train set : 1.00
Accuracy of  Standar Scaler  on test set  : 1.00

MSE (Mean Squared Error)                   : 8.674688471347613e-07
MAE (Mean Absolute Error)                  : 0.00011716443433842378
r^2 score                                  : 0.9999999514913407
RMSE (Root Mean Squared Error)             : 0.0009313800766254136
====================================================================

/usr/local/lib/python3.6/dist-packages/numpy/core/_methods.py:195: RuntimeWarning: overflow encountered in multiply
  x = um.multiply(x, x, out=x)
/usr/local/lib/python3.6/dist-packages/numpy/core/_methods.py:199: RuntimeWarning: overflow encountered in reduce
  ret = umr_sum(x, axis, dtype, out, keepdims)

Power Transformer Yeo Johnson

Accuracy of  Power Transformer Yeo Johnson  on train set : 1.00
Accuracy of  Power Transformer Yeo Johnson  on test set  : 0.99

MSE (Mean Squared Error)                   : 0.17828402905506238
MAE (Mean Absolute Error)                  : 0.16490761080354957
r^2 score                                  : 0.9900303979163674
RMSE (Root Mean Squared Error)             : 0.4222369347357741
====================================================================
Quantile Transformer

Accuracy of  Quantile Transformer  on train set : 0.97
Accuracy of  Quantile Transformer  on test set  : 0.97

MSE (Mean Squared Error)                   : 0.5471310646813424
MAE (Mean Absolute Error)                  : 0.5010990888319888
r^2 score                                  : 0.9694045561378769
RMSE (Root Mean Squared Error)             : 0.7396830839497024
====================================================================
Min Max Scaler

Accuracy of  Min Max Scaler  on train set : 1.00
Accuracy of  Min Max Scaler  on test set  : 1.00

MSE (Mean Squared Error)                   : 8.674640881617114e-07
MAE (Mean Absolute Error)                  : 0.00011716528120420277
r^2 score                                  : 0.9999999514916068
RMSE (Root Mean Squared Error)             : 0.0009313775218254473
====================================================================
Max Abs Scaler

Accuracy of  Max Abs Scaler  on train set : 1.00
Accuracy of  Max Abs Scaler  on test set  : 1.00

MSE (Mean Squared Error)                   : 8.674640881606032e-07
MAE (Mean Absolute Error)                  : 0.00011716528120587682
r^2 score                                  : 0.9999999514916068
RMSE (Root Mean Squared Error)             : 0.0009313775218248523
====================================================================
Robust Scaler

Accuracy of  Robust Scaler  on train set : 1.00
Accuracy of  Robust Scaler  on test set  : 1.00

MSE (Mean Squared Error)                   : 8.674640881549145e-07
MAE (Mean Absolute Error)                  : 0.00011716528120544387
r^2 score                                  : 0.9999999514916068
RMSE (Root Mean Squared Error)             : 0.0009313775218217984
====================================================================

**Soal nomor 2**

Random Forest Regressor

In [21]:
def ex_scaler(sclr):
  scaler = sclr
  X = scaler.fit_transform(x) #x=features
  data_x = pd.DataFrame(X, columns=x.columns) #pengganti features di materi

  x_train, x_test, y_train, y_test = train_test_split(data_x, Y, test_size=0.25, random_state=10)

  arr_r2=[]
  arr_rmse=[]
  arr_estm=[]
  arr_rstatm=[]


  def random_param(est,rstat):
    rf = RandomForestRegressor(n_estimators=est,random_state=rstat)
    rf.fit(x_train, y_train)
    y_pred = rf.predict(x_test)
    mse = mean_squared_error(y_test, y_pred)
    mae = mean_absolute_error(y_test, y_pred)
    r2 = r2_score(y_test, y_pred)
    rmse = np.sqrt(mean_squared_error(y_test, y_pred))
    print('\trandom forest n_estimasi = ',est,'dan random_state = ',rstat)
    print("\tr^2 score                      :", r2)
    print('\tRMSE (Root Mean Squared Error) :', rmse)
    print('================================================================')
    arr_r2.append(r2)
    arr_rmse.append(np.sqrt(mean_squared_error(y_test, y_pred)))
    arr_estm.append(est)
    arr_rstatm.append(rstat)

  arr_est=[50] #dikurangi karna lama trainingnya
  arr_rstat=[0]
  for i in arr_est:
    for j in arr_rstat:
      random_param(i,j)

  max_arr2=max(arr_r2)
  # print(max_arr2)

  for i,j in enumerate(arr_r2):
    if max_arr2 == j:
      print('nilai r2 terbaik berada pada model random forest dengan n_estimasi',arr_estm[i],'dan random_state',arr_rstatm[i])
      print('dengan nilai r2 sebesar: ',arr_r2[i])
      print('dan dengan RMSE sebesar: ',arr_rmse[i])

sclr=[StandardScaler(),PowerTransformer(method='yeo-johnson', standardize=True),QuantileTransformer(n_quantiles=10, random_state=0),MinMaxScaler(),MaxAbsScaler(),RobustScaler()]
nm_sclr=['Standar Scaler','Power Transformer Yeo Johnson','Quantile Transformer','Min Max Scaler','Max Abs Scaler','Robust Scaler']

for a in range(len(sclr)):
  print('Untuk Scaler: ',nm_sclr[a])
  print('---------------------------')
  ex_scaler(sclr[a])
  print('*************************************************************************************************************************************************')

Untuk Scaler:  Standar Scaler
---------------------------
	random forest n_estimasi =  50 dan random_state =  0
	r^2 score                      : 0.9999999713755271
	RMSE (Root Mean Squared Error) : 0.0007154611507835643
================================================================
nilai r2 terbaik berada pada model random forest dengan n_estimasi 50 dan random_state 0
dengan nilai r2 sebesar:  0.9999999713755271
dan dengan RMSE sebesar:  0.0007154611507835643
*************************************************************************************************************************************************
Untuk Scaler:  Power Transformer Yeo Johnson
---------------------------

/usr/local/lib/python3.6/dist-packages/numpy/core/_methods.py:195: RuntimeWarning: overflow encountered in multiply
  x = um.multiply(x, x, out=x)
/usr/local/lib/python3.6/dist-packages/numpy/core/_methods.py:199: RuntimeWarning: overflow encountered in reduce
  ret = umr_sum(x, axis, dtype, out, keepdims)

	random forest n_estimasi =  50 dan random_state =  0
	r^2 score                      : 0.9999999727261896
	RMSE (Root Mean Squared Error) : 0.0006983774638122561
================================================================
nilai r2 terbaik berada pada model random forest dengan n_estimasi 50 dan random_state 0
dengan nilai r2 sebesar:  0.9999999727261896
dan dengan RMSE sebesar:  0.0006983774638122561
*************************************************************************************************************************************************
Untuk Scaler:  Quantile Transformer
---------------------------
	random forest n_estimasi =  50 dan random_state =  0
	r^2 score                      : 0.9999999673788994
	RMSE (Root Mean Squared Error) : 0.0007637770637071927
================================================================
nilai r2 terbaik berada pada model random forest dengan n_estimasi 50 dan random_state 0
dengan nilai r2 sebesar:  0.9999999673788994
dan dengan RMSE sebesar:  0.0007637770637071927
*************************************************************************************************************************************************
Untuk Scaler:  Min Max Scaler
---------------------------
	random forest n_estimasi =  50 dan random_state =  0
	r^2 score                      : 0.9999999727111414
	RMSE (Root Mean Squared Error) : 0.0006985701003275423
================================================================
nilai r2 terbaik berada pada model random forest dengan n_estimasi 50 dan random_state 0
dengan nilai r2 sebesar:  0.9999999727111414
dan dengan RMSE sebesar:  0.0006985701003275423
*************************************************************************************************************************************************
Untuk Scaler:  Max Abs Scaler
---------------------------
	random forest n_estimasi =  50 dan random_state =  0
	r^2 score                      : 0.9999999725385742
	RMSE (Root Mean Squared Error) : 0.0007007754018117787
================================================================
nilai r2 terbaik berada pada model random forest dengan n_estimasi 50 dan random_state 0
dengan nilai r2 sebesar:  0.9999999725385742
dan dengan RMSE sebesar:  0.0007007754018117787
*************************************************************************************************************************************************
Untuk Scaler:  Robust Scaler
---------------------------
	random forest n_estimasi =  50 dan random_state =  0
	r^2 score                      : 0.9999999722956923
	RMSE (Root Mean Squared Error) : 0.0007038675756829928
================================================================
nilai r2 terbaik berada pada model random forest dengan n_estimasi 50 dan random_state 0
dengan nilai r2 sebesar:  0.9999999722956923
dan dengan RMSE sebesar:  0.0007038675756829928
*************************************************************************************************************************************************

**XGBoost**

In [22]:
def ex_scaler(sclr):
  scaler = sclr
  X = scaler.fit_transform(x) #x=features
  data_x = pd.DataFrame(X, columns=x.columns) #pengganti features di materi

  x_train, x_test, y_train, y_test = train_test_split(data_x, Y, test_size=0.25, random_state=10)

  arr_r2=[]
  arr_rmse=[]
  arr_estm=[]
  arr_lratem=[]


  def random_param(est,lrate):
    xr = xgb.XGBRegressor(n_estimators=est,learning_rate=lrate,objective ='reg:squarederror')
    xr.fit(x_train, y_train)
    y_pred = xr.predict(x_test)
    mse = mean_squared_error(y_test, y_pred)
    mae = mean_absolute_error(y_test, y_pred)
    r2 = r2_score(y_test, y_pred)
    rmse = np.sqrt(mean_squared_error(y_test, y_pred))
    print('\tXGB Regressor n_estimasi = ',est,'dan learning_rate = ',lrate)
    print("\tr^2 score                      :", r2)
    print('\tRMSE (Root Mean Squared Error) :', rmse)
    print('================================================================')
    arr_r2.append(r2)
    arr_rmse.append(np.sqrt(mean_squared_error(y_test, y_pred)))
    arr_estm.append(est)
    arr_lratem.append(lrate)

  arr_est=[50] #sementara saya kurangi dulu estimatornya dan learning ratenya karena memakan waktu yang sangat lama saat running
  arr_lrate=[0.1]
  for i in arr_est:
    for j in arr_lrate:
      random_param(i,j)

  max_arr2=max(arr_r2)
  # print(max_arr2)

  for i,j in enumerate(arr_r2):
    if max_arr2 == j:
      print('nilai r2 terbaik berada pada model XGB Regressor dengan n_estimasi',arr_estm[i],'dan learning_rate',arr_lratem[i])
      print('dengan nilai r2 sebesar: ',arr_r2[i])
      print('dan dengan RMSE sebesar: ',arr_rmse[i])

sclr=[StandardScaler(),PowerTransformer(method='yeo-johnson', standardize=True),QuantileTransformer(n_quantiles=10, random_state=0),MinMaxScaler(),MaxAbsScaler(),RobustScaler()]
nm_sclr=['Standar Scaler','Power Transformer Yeo Johnson','Quantile Transformer','Min Max Scaler','Max Abs Scaler','Robust Scaler']

for a in range(len(sclr)):
  print('Untuk Scaler: ',nm_sclr[a])
  print('---------------------------')
  ex_scaler(sclr[a])
  print('*************************************************************************************************************************************************')

Untuk Scaler:  Standar Scaler
---------------------------
	XGB Regressor n_estimasi =  50 dan learning_rate =  0.1
	r^2 score                      : 0.9996787880935604
	RMSE (Root Mean Squared Error) : 0.07579021258979216
================================================================
nilai r2 terbaik berada pada model XGB Regressor dengan n_estimasi 50 dan learning_rate 0.1
dengan nilai r2 sebesar:  0.9996787880935604
dan dengan RMSE sebesar:  0.07579021258979216
*************************************************************************************************************************************************
Untuk Scaler:  Power Transformer Yeo Johnson
---------------------------

/usr/local/lib/python3.6/dist-packages/numpy/core/_methods.py:195: RuntimeWarning: overflow encountered in multiply
  x = um.multiply(x, x, out=x)
/usr/local/lib/python3.6/dist-packages/numpy/core/_methods.py:199: RuntimeWarning: overflow encountered in reduce
  ret = umr_sum(x, axis, dtype, out, keepdims)

	XGB Regressor n_estimasi =  50 dan learning_rate =  0.1
	r^2 score                      : 0.9996787880935604
	RMSE (Root Mean Squared Error) : 0.07579021258979216
================================================================
nilai r2 terbaik berada pada model XGB Regressor dengan n_estimasi 50 dan learning_rate 0.1
dengan nilai r2 sebesar:  0.9996787880935604
dan dengan RMSE sebesar:  0.07579021258979216
*************************************************************************************************************************************************
Untuk Scaler:  Quantile Transformer
---------------------------
	XGB Regressor n_estimasi =  50 dan learning_rate =  0.1
	r^2 score                      : 0.9996787880935604
	RMSE (Root Mean Squared Error) : 0.07579021258979216
================================================================
nilai r2 terbaik berada pada model XGB Regressor dengan n_estimasi 50 dan learning_rate 0.1
dengan nilai r2 sebesar:  0.9996787880935604
dan dengan RMSE sebesar:  0.07579021258979216
*************************************************************************************************************************************************
Untuk Scaler:  Min Max Scaler
---------------------------
	XGB Regressor n_estimasi =  50 dan learning_rate =  0.1
	r^2 score                      : 0.9996787880935604
	RMSE (Root Mean Squared Error) : 0.07579021258979216
================================================================
nilai r2 terbaik berada pada model XGB Regressor dengan n_estimasi 50 dan learning_rate 0.1
dengan nilai r2 sebesar:  0.9996787880935604
dan dengan RMSE sebesar:  0.07579021258979216
*************************************************************************************************************************************************
Untuk Scaler:  Max Abs Scaler
---------------------------
	XGB Regressor n_estimasi =  50 dan learning_rate =  0.1
	r^2 score                      : 0.9996787477678626
	RMSE (Root Mean Squared Error) : 0.0757949698812137
================================================================
nilai r2 terbaik berada pada model XGB Regressor dengan n_estimasi 50 dan learning_rate 0.1
dengan nilai r2 sebesar:  0.9996787477678626
dan dengan RMSE sebesar:  0.0757949698812137
*************************************************************************************************************************************************
Untuk Scaler:  Robust Scaler
---------------------------
	XGB Regressor n_estimasi =  50 dan learning_rate =  0.1
	r^2 score                      : 0.9996787477678626
	RMSE (Root Mean Squared Error) : 0.0757949698812137
================================================================
nilai r2 terbaik berada pada model XGB Regressor dengan n_estimasi 50 dan learning_rate 0.1
dengan nilai r2 sebesar:  0.9996787477678626
dan dengan RMSE sebesar:  0.0757949698812137
*************************************************************************************************************************************************

**SVM**

In [ ]:
def ex_scaler(sclr):
  scaler = sclr
  X = scaler.fit_transform(x) #x=features
  data_x = pd.DataFrame(X, columns=x.columns) #pengganti features di materi

  x_train, x_test, y_train, y_test = train_test_split(data_x, Y, test_size=0.25, random_state=10)

  arr_r2=[]
  arr_rmse=[]
  arr_kernelm=[]


  def random_param(krnl):
    svmr = SVR(kernel=krnl)
    svmr.fit(x_train, y_train)
    y_pred = svmr.predict(x_test)
    mse = mean_squared_error(y_test, y_pred)
    mae = mean_absolute_error(y_test, y_pred)
    r2 = r2_score(y_test, y_pred)
    rmse = np.sqrt(mean_squared_error(y_test, y_pred))
    print('\tSVR dengan kernel = ',krnl)
    print("\tr^2 score                      :", r2)
    print('\tRMSE (Root Mean Squared Error) :', rmse)
    print('================================================================')
    arr_r2.append(r2)
    arr_rmse.append(rmse)
    arr_kernelm.append(krnl)

  arr_kernel=['rbf','poly','linear']
  for i in arr_kernel:
    random_param(i)

  max_arr2=max(arr_r2)
  # print(max_arr2)

  for i,j in enumerate(arr_r2):
    if max_arr2 == j:
      print('nilai r2 terbaik berada pada model SVM dengan kernel',arr_kernelm[i])
      print('dengan nilai r2 sebesar: ',arr_r2[i])
      print('dan dengan RMSE sebesar: ',arr_rmse[i])

sclr=[StandardScaler(),PowerTransformer(method='yeo-johnson', standardize=True),QuantileTransformer(n_quantiles=10, random_state=0),MinMaxScaler(),MaxAbsScaler(),RobustScaler()]
nm_sclr=['Standar Scaler','Power Transformer Yeo Johnson','Quantile Transformer','Min Max Scaler','Max Abs Scaler','Robust Scaler']

for a in range(len(sclr)):
  print('Untuk Scaler: ',nm_sclr[a])
  print('---------------------------')
  ex_scaler(sclr[a])
  print('*************************************************************************************************************************************************')

**KNN**

In [ ]:
def ex_scaler(sclr):
  scaler = sclr
  X = scaler.fit_transform(x) #x=features
  data_x = pd.DataFrame(X, columns=x.columns) #pengganti features di materi

  x_train, x_test, y_train, y_test = train_test_split(data_x, Y, test_size=0.25, random_state=10)

  arr_r2=[]
  arr_rmse=[]
  arr_kernelm=[]


  def random_param(knnr):
    knn = KNeighborsRegressor(knnr)
    knn.fit(x_train, y_train)
    y_pred = knn.predict(x_test)
    mse = mean_squared_error(y_test, y_pred)
    mae = mean_absolute_error(y_test, y_pred)
    r2 = r2_score(y_test, y_pred)
    rmse = np.sqrt(mean_squared_error(y_test, y_pred))
    print('\tKNN dengan nilai k = ',knnr)
    print("\tr^2 score                      :", r2)
    print('\tRMSE (Root Mean Squared Error) :', rmse)
    print('================================================================')
    arr_r2.append(r2)
    arr_rmse.append(rmse)
    arr_kernelm.append(knnr)

  arr_kernel=[1,3,5,7,9] #sementara saya kurangi dulu estimatornya karena memakan waktu yang sangat lama saat running
  for i in arr_kernel:
    random_param(i)

  max_arr2=max(arr_r2)
  # print(max_arr2)

  for i,j in enumerate(arr_r2):
    if max_arr2 == j:
      print('nilai r2 terbaik berada pada model KNN dengan nilai k',arr_kernelm[i])
      print('dengan nilai r2 sebesar: ',arr_r2[i])
      print('dan dengan RMSE sebesar: ',arr_rmse[i])

sclr=[StandardScaler(),PowerTransformer(method='yeo-johnson', standardize=True),QuantileTransformer(n_quantiles=10, random_state=0),MinMaxScaler(),MaxAbsScaler(),RobustScaler()]
nm_sclr=['Standar Scaler','Power Transformer Yeo Johnson','Quantile Transformer','Min Max Scaler','Max Abs Scaler','Robust Scaler']

for a in range(len(sclr)):
  print('Untuk Scaler: ',nm_sclr[a])
  print('---------------------------')
  ex_scaler(sclr[a])
  print('*************************************************************************************************************************************************')